:root {
    --dark-main: #8c5ba4;
    --light-main: #cbb1db;
    --dark-gray: #333333;
    --light-gray: #e8d8f2;
    --very-light-gray: #eee4f5;
    --white: white;
}
body {
    font-family: 'Sniglet', sans-serif;
    background-color: var(--light-main);
    height: 100vh;
}
.video{
    text-align: center;
}

.center{
    text-align: center;
}
.rightalign{
    text-align: right;
}
.watchingcat{
    text-align: center;
    margin: 0;
}
.sleepycat{
    transform: scale(1.5);
}

.foodcat{
    transform: scale(0.5);
    cursor: url("Assets/catfood.png"), auto;
}

.container {
    margin: auto;
    width: 100%;
    height: 800px;
    background-color: transparent;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: url("Assets/handcursor.png"), auto;
}
.btn-container {
    margin: auto;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    background-color: var(--light-gray);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    left:0;
    margin-top: 30px;
    /*justify-content: space-around;
    max-width: 600px;*/
}
h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--dark-main);
}

img {
    padding: 50px;
    cursor: url("Assets/handcursor.png"), auto;
    transform: scale(1.5)
    /* transition: transform 0.2s ease-in-out; */
}

.happy-bar {
    background-color: var(--dark-main);
    width: 90%;
    padding: 12px;
    height: 72px;
    position: fixed;
    text-align: center;
    border-radius: 12px;
    left: 5%;
    top: 24px;
    z-index: 1;
}


#count-label {
    font-size: 24px;
    line-height: 32px;
    height: 48px;
    padding: 8px;
    padding-right: 24px;
    color: var(--light-gray);
    text-align: right;
    width: 20%;
    float:left;
    display: block;
}

#progress {
    width: 80%;
    float: left;
    height: 48px;
    background-color: var(--light-gray);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    display: block;
}

#bar {
    height: 100%;
    background-color: var(--light-main);
    color: var(--dark-gray);
    text-align: left;
    line-height: 42px;
    font-size: 42px;
    width: 0%;
    transition: width 0.2s ease-in-out;
}


#foodprogress {
    width: 50%;
    height: 24px;
    background-color: #EEE;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
}

#foodbar {
    height: 100%;
    background-color: #01a3a4;
    color: #FFF;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    width: 0%;
    transition: width 0.2s ease-in-out;
    text-align: center;
}



#background-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(4px) brightness(0.7);
}


.btn {
    width: 200px;
    height: 75px;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: var(--dark-main);
    color: var(--light-gray);
    border: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--light-main);
    color: var(--dark-gray);
}

@media only screen and (max-width: 600px) {
    h1, #progress, #count-label {
        font-size: 24px;
    }

    img {
        width: 120px;
        height: 120px;
        margin-top: 30px;
    }

    .btn {
        font-size: 16px;
    }
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containertasks{
    width: 40%;
    top: 50%;
    left: 50%;
    background: var(--light-gray);
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: var(--dark-gray);
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Sniglet',sans-serif;
    font-size: 26px;
    border: 2px solid var(--light-main);
    background-color: var(--very-light-gray);
}

#newtask input:focus{
    outline: none;
    border-color: var(--dark-main);
}
#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 26px;
    background-color: var(--dark-main);
    border: none;
    color: var(--light-gray);
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Sniglet',sans-serif;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: var(--light-gray);
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--dark-main);
    cursor: pointer;
    background-color: var(--light-main);
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Sniglet',sans-serif;
    font-size: 26px;
    font-weight: 400;
}
.task button{
    background-color: var(--dark-main);
    color: var(--light-gray);
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    font-size: 20px;
}
